body {
  font: 500 clamp(14px, calc(2vh + 8px), 26px) "Quicksand", Arial;
  height: 100vh;
  display: grid;
  place-items: start center;
  padding: 5vh;
  box-sizing: border-box;
}
#container {
  --border-color: #e1e1e1;
  --border-width: 1px;
  --gap: clamp(16px, 4vh, 1.5em);
  --top-gap: calc(var(--gap) / 2);
}
#container input {
  padding: 0.5em;
  margin-bottom: 1em;
  min-width: 300px;
  border-radius: 4px;
  border: 2px solid purple;
  font-family: inherit;
}
#container ul {
  list-style: none;
}
#container ul ul {
  margin-left: calc(var(--gap) / 2);
}
#container ul > li {
  position: relative;
  padding: var(--top-gap) 0 0 var(--gap);
}
#container ul > li:last-child::before {
  content: "";
  border-left: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-bottom-left-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--gap) / 1.5);
  height: calc(var(--top-gap) + 1em / 2);
}
#container ul > li:not(:last-child) {
  background-image: linear-gradient(
    0,
    var(--border-color),
    var(--border-color)
  );
  background-repeat: no-repeat;
  background-position: 0 calc(var(--top-gap) + 1em / 2);
  background-size: calc(var(--gap) / 1.5) var(--border-width);
  border-left: var(--border-width) solid var(--border-color);
}
.tree, .tree ul {
  margin:0;
  padding:0;
  list-style:none
}
.tree ul {
  margin-left:1em;
  position:relative
}
.tree ul ul {
  margin-left:.5em
}
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid
}
.tree li {
  margin:0;
  padding:0 1em;
  line-height:2em;
  color:#369;
  font-weight:700;
  position:relative
}
.tree ul li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0
}
.tree ul li:last-child:before {
  background:#fff;
  height:auto;
  top:1em;
  bottom:0
}
.indicator {
  margin-right:5px;
}
.tree li a {
  text-decoration: none;
  color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
  text-decoration: none;
  color:#369;
  border:none;
  background:transparent;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  outline: 0;
}